.user-me.user{
  margin-top: 50px;
}
.user .user__desc .status-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  margin-top: 3px;
}
.section-label {
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
}
